.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  /* makes the grid fit in 4 columns */
  grid-gap: 20px;
  /* between each column will be 20px */
}
